.small-banner {
  height: 50vh;
  background-size: cover;
  background-position: center;
}

.small-avatar {
  width: 100px;
  height:100px;
}

.white-bg {
  background: white;
}

.reset-margin {
  margin-left: 0;
  margin-right: 0;
}
