---
title: Le Wagon - Middleman
---
<div class="banner" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>Welcome home</h1>
    <p>Book unique homes and experience a city like a local.</p>
    <!-- RESEARCH BAR -->
    <form class="form-inline text-center" style="padding-top:10px" role="form" method="get" action="addauction.php">
      <fieldset style="padding-top:50px">
        <!-- Search Name -->
        <div class="form-group">
          <label class="sr-only" for="item-name">Product Name</label>
          <input id="item-name" name="item-name" placeholder="Where?" class="form-control">
        </div>
        <!-- Search Category -->
        <div class="form-group">
          <label class="sr-only" for="item-category">Product Category</label>
          <select id="item-category" name="item-category" class="form-control">
            <option selected disabled hidden>Category</option>
            <?php
            $sql = 'SELECT * FROM Category';
            foreach ($db -> query($sql) as $row) { ?>
            <option value = "<?php echo $row['category_id']; ?>"><?php echo $row['category']; ?></option>
            <?php } ?>
          </select>
        </div>
        <!-- Search Auction -->
        <div class="form-group">
          <label class="sr-only" for="submit">Ready to Submit?</label>
          <button type="submit" class="btn btn-primary"><span
            class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </div>
        </fieldset>
      </form>
      <!-- END RESEARCH BAR -->
      <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
    </div>
  </div>

  <div style="margin: 40px 0;" class="text-center">
    <h2>Recent flats</h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
            <div class="card-category">Popular</div>
            <div class="card-description">
              <h2>Le Wagon Shanghai</h2>
              <p>Very cool city, the best</p>
            </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <a class="card-link" href="#" ></a>
          </div>

        </div>
        <div class="col-xs-12 col-sm-4">
          <!-- insert <div class="card"> -->
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
              <div class="card-category">Popular</div>
              <div class="card-description">
                <h2>Le Wagon Shanghai</h2>
                <p>Very cool city, the best</p>
              </div>
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
              <a class="card-link" href="#" ></a>
            </div>

          </div>
          <div class="col-xs-12 col-sm-4">
            <!-- insert <div class="card"> -->
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
                <div class="card-category">Popular</div>
                <div class="card-description">
                  <h2>Le Wagon Shanghai</h2>
                  <p>Very cool city, the best</p>
                </div>
                <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
                <a class="card-link" href="#" ></a>
              </div>

            </div>
          </div>
        </div>
